
body{
    background-color: #22232b;
}
a:link {
    text-decoration: none;
    color:whitesmoke;
    
}
a:hover{
    background-color: deeppink;
}
p,h3,li{
    color: white;
}
.menu{
    position: fixed;
    left: 0;
    width: 10%;
    top: 0px;
    height: 100%;
    border: solid white 1px;
    padding-left: 9px;
    padding-bottom: 25px;
    background-color: #31353b;
}

.topbar{
    position: fixed ;
    top: 0;
    border: white solid 1px;
    left: 11%;
    right: 0;
    padding: 20px;
    height: 15%;
    background-color: #31353b;
}
.project{
    position: absolute;
    left:11%;
    width: 63%; 
    top: 21%;

    display: flex;
    flex-direction: column;
}

.projects{
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.eachproject{
    /* border: 1px solid black; */
    margin: 15px;
    padding: 5px;
    width: 40%;
    border-radius: 5px;
    background-color: #31353b;
}

.announcements{
position: absolute;
top: 21%;
right: 10px;
left: 75%;

}
.inner-announcement{
    border: black 1px solid;
    padding: 20px;
    border-radius: 5px;
    background-color: #31353b;
}

.people{
    position: absolute;
    left: 75%;
    right: 10px;
    top: 77%;

}
.inner-people{
    border: black 1px solid;
    padding: 20px;
    border-radius: 5px;
    background-color: #31353b;
}